
header {
    border: 1px solid var(--header-border-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* font-weight: 500; */
}
.header__nav {
    height: 100%;
}
.header__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.header__nav ul li {
    list-style-type: none;
    display: inline-block;
}
.header__nav ul a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease-out;
}
.header__nav ul a:hover {
    color: var(--post-card-border-color);
    transition: 0.3s ease-out;
}
.header__nav ul li:nth-child(7), li:last-child {
    border-left: 1px solid var(--header-border-color);
}



@media screen and (min-width: 375px) {

    header {
        height: 60px;
    }
    
    .header__logo {
        width: 44px;
        height: 44px;

        margin-left: 15px;
    }
    .header__nav li:not(:nth-child(7), :last-child) {
        display: none;
    } 
    
    .header__nav li:nth-child(7) {
        height: 100%;
    }
    .header__burger-button {
        margin: 23.13px 23.13px 23.13px 23.13px ;
        width: 15.63px;
        height: 13.75px;
    }
    .header__nav li:last-child {
        height: 100%;
    }
    .header__search-button {
        margin: 22.19px 22.19px 22.19px 22.19px ;
        width: 15.63px;
        height: 15.63px;
    }

}

@media screen and (min-width: 768px) {

    header {
        height: 53px;
    }
    
    .header__logo {
        width: 35px;
        height: 35px;

        margin-left: 15px;
    }
    .header__nav li:not(:nth-child(7), :last-child) {
        display: inline-block;

        padding: 0px 20px;

        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0%;
    } 
    
    .header__nav li:nth-child(7) {
        display: none;
    }

    .header__nav li:last-child {
        height: 100%;
    }
    .header__search-button {
        margin: 19.19px 19.19px 19.19px 19.19px ;
        width: 15.63px;
        height: 15.63px;
    }

}